17.old
25.old/Zero-Knowledge-Proofs-Computerphile-HUs1bH85X9I.mkv
33/L6-Byzantine-Fault-Tolerance-e4wNoTV3Gw.mkv
31/L6-Byzantine-Fault-Tolerance-e4wNoTV3Gw.mkv
32.old/Hans-Rosling-s-200-Countries-200-Years-4-Minutes-The-Joy-of-Stats-BBC-Four-jbkSRLYSojo.mkv
04/The-Trade-of-the-Century-When-George-Soros-Broke-the-British-Pound.pdf
10/Practical-Byzantine-Fault-Tollerance-osid99.pdf
31/Practical-BFT-and-Recovery.pdf
31/Threshold-optimnal-DSA-ECDSA-signatures.pdf
11/Eth-Voting-App-HOW-TO.pdf
20/zk-SNARK-verifiable-trust.pdf
23/Video/Lect-23-4010-5010-pt2.mp4
23/Video/Lect-23-4010-5010-pt3.mp4
23/Video/Lect-23-4010-5010-pt4.mp4
23/Video/Lect-23-4010-5010-zk-SNark-pt1.mp4
23/What-is-zkSNARKs-The-Comprehensive-Spooky-Moon-Math-Guide.pdf
23/zk-SNARKs-A-Realistic-Zero-Knowledge-Example-and-Deep-Dive.pdf
23/zk-STARKS-pt2of3-Digital-Identity-Privacy-and-Zero-Knowledge-Proofs-zk-SNARKs.pdf
23/zk-STARKs-pt3of3-Create-Verifiable-Trust-even-against-Quantum-Computers.pdf
23/zk-STARKs-WhitePaper-Quantum-Secure.pdf
27/Create-an-Instagram-With-IPFS.pdf
27/ERC721-Vue.js-CryptoKitties-Like.pdf
27/Ethereum-Solidity-Vue.js-Simple-Auction-dApp.pdf
27/Understanding-Zero-Knowledge-Proofs-Through-Simple-Examples.pdf
29/Video/Lect-29-4010-git-pt1.mp4
29/Video/Lect-29-4010-git-pt2.mp4
29/Video/Lect-29-4010-git-pt3.mp4
29/Video/Lect-29-4010-git-pt4.mp4
30/Video/Lect-30-4010-pt1-ECDSA.mp4
30/Video/Lect-30-4010-pt2-add-double-mul.mp4
30/Video/Lect-30-4010-pt3-discreet.mp4
30/Video/Lect-30-4010-pt4.mp4
31/Video4/Lect-34-4010-pt1-Threshold-Signatures.mp4
31/Video4/Lect-34-4010-pt2-crypto-currencies.mp4
33/L6-Byzantine-Fault-Tolerance-e4wNoTV3Gw.mkv
35/Video/Lect-35-4010-Final-Review.mp4
.DS_Store
./25.old/ZK-Snarks-Zero-Knowledge-Proof-Explained-jgh7hCGJfi8.mp4
./25.old/Double-efficient-zkSNARKs-Without-Trusted-Setup-yq2AfLlMww0.mp4
./25.old/Introduction-zk-SNARKs-STARKs-Eli-Ben-Sasson-Technion-Cyber-and-Computer-Security-Summer-School-VUN35BC11Qw.mp4
./25.old/Introduction-to-SNARKs-jr95o_k_SwI.mp4
./30/Video/Lect-30-4010-pt4.mp4
./30/Video/Lect-30-4010-pt1-ECDSA.mp4
./30/Video/Lect-30-4010-pt3-discreet.mp4
./30/Video/Lect-30-4010-pt2-add-double-mul.mp4
./23/Video/Lect-23-4010-5010-pt3.mp4
./23/Video/Lect-23-4010-5010-zk-SNark-pt1.mp4
./23/Video/Lect-23-4010-5010-pt4.mp4
./23/Video/Lect-23-4010-5010-pt2.mp4
./22/Video/Lect-22-4010-5010-pt4-hw.mp4
./22/Video/Lect-22-4010-5010-cosc-Pt1.mp4
./22/Video/Lect-22-4010-5010-pt2-Insurance.mp4
./22/Video/Lect-22-4010-5010-pt3-KYC-KYI-Tracking.mp4
./21/Video/Lect-21-7-of-8.mp4
./21/Video/Lect-21-1-of-8.mp4
./21/Video/Lect-21-8-of-8.mp4
./21/Video/Lect-21-3-of-8.mp4
./21/Video/Lect-21-2-of-8.mp4
./21/Video/Lect-21-5-of-8.mp4
./21/Video/Lect-21-6-of-8.mp4
./21/Video/Lect-21-4-of-8.mp4
./19/Video/Lect-19-4010-pt3.mp4
./19/Video/Lect-19-4010-pt2.mp4
./19/Video/Lect-19-4010-pt4.mp4
./19/Video/Lect-19-4010-pt5.mp4
./19/Video/Lect-19-4010-pt1.mp4
./20/Video/Lect-20-4010-pt2-sig-test.mp4
./20/Video/Lect-20-pt3-client-server.mp4
./20/Video/Lect-20-4010-pt1-news.mp4
./20/Video/Lect-20-4010-pt4.mp4
./35/Video/Lect-35-4010-Final-Review.mp4
./29/Video/Lect-29-4010-git-pt4.mp4
./29/Video/Lect-29-4010-git-pt2.mp4
./29/Video/Lect-29-4010-git-pt1.mp4
./29/Video/Lect-29-4010-git-pt3.mp4
./31/Video/Lect-31-4010-pt2-multi-sig.mp4
./31/Video/Lect-31-4010-pt1-news.mp4
./31/Video/Lect-31-4010-pt3-homomorphic-Encryption.mp4
./31/Video4/Lect-34-4010-pt2-crypto-currencies.mp4
./31/Video4/Lect-34-4010-pt1-Threshold-Signatures.mp4
./31/Video3/Lect-33-4010-BFT-pt2.mp4
./31/Video3/Lect-33-4010-pt3-BFT.mp4
./31/Video3/Lect-33-4010-pt4.mp4
./31/Video3/Lect-33-4010-BFT-pt1.mp4
./31/Video2/Lect-32-4010--pt2.mp4
./31/Video2/Lect-32-4010--pt3-Homework-Marlowe.mp4
./31/Video2/Lect-32-4010--pt1.mp4
./25/Video/Lect-25-4010-5010-pt3.mp4
./25/Video/Lect-25-4010-5010-pt4-Solidity-Contracts.mp4
./25/Video/Lect-25-4010-5010-pt1.mp4
./25/Video/Lect-25-4010-5010-pt2.mp4
./24/Video/Lect-24-4010-5010-pt2.mp4
./24/Video/Lect-24-4010-5010-pt1.mp4
./24/Video/Lect-24-4010-5010-pt3.mp4
./30/Video
./23/Video
./22/Video
./21/Video
./19/Video
./20/Video
./35/Video
./29/Video
./31/Video
./25/Video
./24/Video
,*
18.old
21.old
22.old
23.old
24.old
25.old
26.old
29.old
30.old
31.old
32.old
35.old
